{% extends "layout.html" %}
{% block content %}
  <h3 class="account-heading" >{{ current_user.username }}</h3><br>
  <h4>Welcome,  {{ current_user.username }} to Unified Student Feedback and Psychometric Evaluation System.</h4><br>
  <h4>Please fill in the list of surveys.</h4>
  <br>
  {% for i in range(ques | length) %}
       <p class="text-secondary">
       {% if i > num %}
       <h6>{{i + 1}}. {{names[i]}}</h6> &#x274C You have not filled this survey.
       {% elif i == num %}
       <h6>{{i + 1}}. <a href="{{ ques[i] }}">{{names[i]}}</a></h6> &#9997 Fill this survey to proceed.
       {% else %}
       <h6>{{i + 1}}. {{names[i]}}</h6> &#9989 Great! You have filled this survey.
       {% endif %}
       </p>
   {% endfor %}
{% endblock content %}
