{% extends "layout.html" %}
{% block content %}
    <h1>About Us - Unified Student Feedback and Psychometric Evaluation System</h1>

    <h4>Minor Project by </h4>
    <br>
    <a href="https://github.com/TheBrainGamingSingh"><h6>Manpreet Singh Juneja</h6></a>
    <a href="#"><h6>Shrey Bhardwaj</h6></a>
    <a href="#"><h6>Stuti Sharma</h6></a>
    <a href="#"><h6>Chitsimran Singh</h6></a>
    <br>
    <h4>Under the mentorship of</h4><a href="https://pec.ac.in/rajesh-kumar-bhatia"><h3>Dr. Rajesh Bhatia</h3></a>
{% endblock content %}
