
{%extends "layout.html"%}
{%block content%}


  <div class="content-section">
    <form action="" method="post">
      {{form.hidden_tag()}}
      <fieldset class="form-group">

        <legend class="border-bottom mb-4">Student Feedback Form</legend>
        {% for field in form %}
        <div class="form-group">

          {% if field.type == "RadioField" %}
          <h6>{{field.label(class="form-control-label")}}</h6>
          {% for subfield in field %}
            <tr>
              <td>{{ subfield(class="form-control-md") }}</td>
              <td>{{ subfield.label(class="form-control-label") }}</td>
            </tr>
            {% endfor %}
          {% endif %}
          {% if field.type == "StringField" or field.type == "TextAreaField" %}
          <h6>{{field.label(class="form-control-label")}}</h6>
          {{field(class="form-control form-control-md")}}
          {% endif %}
        </div>
        {% endfor %}
      </fieldset>

      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
  </div>
  <div class="border-top pt-3">
  </div>
{%endblock content%}
